@font-face {
    font-family: 'ButlerStencil';
    src:url('/ButlerStencil/ButlerStencil.ttf.woff') format('woff'),
        url('/ButlerStencil/ButlerStencil.ttf.svg#ButlerStencil') format('svg'),
        url('/ButlerStencil/ButlerStencil.ttf.eot'),
        url('/ButlerStencil/ButlerStencil.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/*Use Variables at the End*/
:root{
    --bgcolor-pry: #2c1a6a;
    --bgcolor-sec: #331D7F;
    --bgcolor-ter: #fff;
    --bgcolor-ter2: #23272B;
    --font-pry: 'Karla', sans-serif;
    --font-sec: 'Libre Baskerville', serif;
    --font-ter: 'ButlerStencil';
    --text-black: #000;
    --text-white: #fff;
    --text-orange: #ff9000;
    --text-orange2: #f48824;
    --text-blue: #007bff;
    --text-grey: #999;
    --color3 : #999;
}


/*styles Reset*/
*, *::after , *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5% /* Font Size = 10px (1rem relative to elements within)*/
}

li{
    list-style: none;
}


/* utility */
.font2x {
    font-size: 2rem;
}

.uppercase{
    text-transform: uppercase;
}

.grey{
    color: var(--text-grey);
}

.flex {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Layout*/

body{
    display: grid;
    grid-template-columns: 3.5vw 10fr 3.5vw;
    grid-template-rows: 10vh 10fr 10vh;
    grid-template-areas: 
      ". head ."
      "sl main sr"
      ". foot ." ;
    height: 100vh;
    font-family: var(--font-pry);
}

main{
    grid-row: 1/ span 3;
    grid-column:1 / span 3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.header {
    grid-area: head;
    z-index: 6;
    display: flex;
}

.footer{
    grid-area: foot;
    z-index: 6;
}

section {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 3.5vw 1.5fr 7fr 1.5fr 3.5vw;
    grid-template-rows: 10vh 10fr 10vh;
    grid-template-areas: 
      ". . . . ."
      ". . main . ."
      ". . . . ." ;
}

.section1{
    z-index: 5;
    background-image: url('/images/bg-piling1-1920x1080.jpg');
    background-size: cover;
    color: var(--text-white);
    display: none;

}

.section2{
    z-index: 4;
    background: url(/images/piling-pic2-1920x1080.png), white;
    color: var(--text-black);
    display: none;
}

.section3{
    z-index: 3;
    background-image: url(/images/piling-project1-1920x1080.jpg);
    color: var(--text-white);
    display: none;
}

.section4{
    z-index: 2;
    color: var(--text-black);
    background-color: var(--bgcolor-ter);
    display: none;
}

.section5{
    z-index: 1;
    background: url(/images/bg-piling5-1920x1080.jpg);
    color: var(--text-white);
}

.section6{
    z-index: 0;
}

.wrapper {
    grid-area: main;
    margin-right: 5em;
}

/* Styling */
.header {
    color: var(--text-black);
    justify-content: center;
}

.header div:nth-child(1) {
    font-size: 2em;
    font-family: var(--font-sec);
}

.header div:nth-child(1) > span:nth-child(2){
    font-family: var(--font-pry);
    font-size: .4em;
    width: 14ch;
    margin-left: 1em;
} 

.header div:nth-child(2){
    font-size: .75em;
    font-weight: 700;
    flex-grow: 1;
}

.header div:nth-child(2) p{
    margin-right: 7em;
}

.menu {
    flex-basis: fit-content;
}

.menu button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: .8em;
    font-family: inherit;
    font-weight: 700;
}

/* Break*/


.footer {
    color: var(--text-black);
    justify-content: space-between;
}

.footer div:nth-child(1){
    font-size: .85em
}
.icons{
    width: 8em;
    justify-content: space-between;
}
.icons span {
    width: 2em;
    height: 2em;
    border: 1px solid var(--text-black);
    border-radius: 50%;
    justify-content: center;
}

/* Section 1 */

.tit-blk{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tit-blk h1 {
    font-family: var(--font-sec);
    font-size: 5em;
    width: 10ch;
    font-weight: lighter;
    margin-bottom: .5em;
}

.tit-blk > h1 span {
    color: var(--text-orange);
}

.tit-blk  > div p:nth-child(1){
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: .5em;
}

.tit-blk  > div p:nth-child(2){
    font-size: .8em;
}

.playbtn {
    width: 3em;
    height: 3em;
    border: 1px solid var(--text-orange);
    border-radius: 50%;
}

/* Section 2 */
.section2 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.yrs {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.yrs h1{
    font-family: var(--font-ter);
    font-size: 17em;
    line-height: .8;
    background: url(/images/bg-letter-solution-1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2ch;
    -webkit-background-clip: text , border;
    color: transparent;
}

/* 
background: url(https://webkit.org/wp-content/uploads/green-background.png), black; 
border:5px solid black; 
padding:5px; 
-webkit-background-clip: text, border; 
color: transparent */

.yrs p {
    width: 5ch;
    font-size: 1.2em;
}

.exp-info {
    font-family: var(--font-sec);
    margin: 0 auto;
    height: 80%;
    flex-basis: 50%;
}

.exp-info h2 {
    font-size: 3.5em;
    width: 10ch;
    font-weight: 400;
    margin-bottom: 1.5em;
}
.exp-info details {
    margin-bottom: 2em;
    color: var(--text-grey);
    font-size: .8em;
    line-height: 1.5;
    font-family: var(--font-pry);
}

.exp-info summary {
    font-size: 1.5em;
    list-style: none;
    cursor: pointer;
    position: relative;
    color: var(--text-blue);
    margin-bottom: 1em;
    font-family: var(--font-sec);
}

.exp-info summary::after {
    content: '+';
    position: absolute;
    right: 0;
}

/* Section 3 */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects h3 {
    margin-bottom: 2em;
}

.projects ul {
    display: grid;
    grid-template-columns: repeat( auto-fill , 30%);
    row-gap: 2em;
    font-family: var(--font-sec)
}

.projects li p:nth-child(1) {
    font-size: 3em;
    margin-bottom: .7em;
}

.projects li p:last-child{
    font-size: 1em;
    font-family: var(--font-pry);
}

.projects li p:nth-child(2){
    font-size: .7em;
    font-family: var(--font-pry);
}

/* section4 */
.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clients h2 {
    font-size: 3em;
    font-family: var(--font-sec);
    margin-bottom: 1em;
}

.clients p {
    font-size: .75em;
    margin-bottom: 3em;
}

.ptimages{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr 1fr; 
    border: 1px solid var(--color3);
}

.ptimages li{
    border: 1px solid var(--color3);
    text-align: center;
    padding: 1.7em;
    cursor: pointer;
}

.ptimages img{
    object-fit: cover;
    opacity: 0.5;
} 

/* Section5 */
.test {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.quotes {
    border: 2px solid var(--text-orange);
    border-radius: 50%;
    width: max-content;
    padding: 1em;
    margin-bottom: 3em;
}

.quotes img {
    width: 1em;
}

/* **** */
.tests {
    display: flex;
}

.tests li {
   min-width: 100%;
   font-family: var(--font-sec);
}

.tests li p:first-child{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

.tests li p:nth-child(n+2) {
    font-family: var(--font-pry);
    margin-bottom: 1.5em;
}

.tests li p:nth-child(2){
    font-weight: 600;
}

.info{
    font-size: .8em;
    opacity: 0.6;
}

/* **** */
.reuse-ind {
    display: flex;
    font-size: .3em;
}

.reuse-ind li {
    border: 1px solid var(--text-orange2);
    border-radius: 50%;
    margin-right: 1em;
}

.reuse-ind svg {
    padding: 1.5em;
}

